includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: max
    stubFiles:
        - phpstan-stubs/GeneratesParametersFromRules.stub
        - phpstan-stubs/ValidateableData.stub
    paths:
        - app
        - bootstrap/app.php
        - config
        - database
        - routes
